[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mase"]
	path = mase
	url = https://github.com/mcconvil/mase
[submodule "pdxTrees"]
	path = pdxTrees
	url = https://github.com/mcconvil/pdxtrees
